

<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left">Todos los archivos</i></a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Nuevo archivo</h2>
            <span class="text-ligth">Ingrese los datos del personaje a registrar</span>
        </div>
        
        <!--form-->
        <%- include('include/_form') %>
        <!--form-->

    </div>
</main>


<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->
