
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Nombre</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="alias" class="text-light">Alias</label>
            <input type="text" name="alias" value="" placeholder="el tirex">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Genero</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label">Masculino</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label">Femenino</label>
            </div>
        </div>

        <div class="form-group">
            <label for="picture" class="text-light">Imagen</label>
            <input type="text" name="picture" value="" placeholder="Inserte URL de imagen">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Guardar</button>
        </div>
</form>
